h1 {
    font-family: Helvetica;
    font-size: 36pt;
    font-weight: bold;
}

.bottom {
    font-family: Helvetica;
    font-size: 36pt;
    font-weight: bold;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #002eb8;
}

.bottom a {
    display: block;
    margin: -16px 0 0 0;
    padding: 2px 0;
}

a, a:visited, a:active {
    text-decoration: none;
    color: #002eb8;
}

